<header class="site-header">
    <div class="header-content">
        <div class="logo-container">
            <!-- <img src="{{ '/BICCN-Anatomy-Paper-Package/assets/images/brain_architecture_logo.png' | relative_url }}" alt="Anatomy Package Logo" class="site-logo"> -->
            <img src="{{ '/BICCN-Anatomy-Paper-Package/assets/images/brain_architecture_logo_white.svg' | relative_url }}" alt="Anatomy Package Logo" class="site-logo">
            <!-- <span class="site-title">Anatomy Package</span> -->
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="{{ '/BICCN-Anatomy-Paper-Package' | relative_url }}">Home</a></li>
                <li><a href="#">Papers</a></li>
                <li><a href="#">Data Links</a></li>
                <li><a href="#">Tools & Code</a></li>
                <li><a href="#">Use cases</a></li>
                <li class="search-container">
                    <input type="search" placeholder="Search..." class="search-input">
                    <button class="search-button">🔍</button>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="hero-section">
    <div class="hero-content">
        <h1>XYZ Anatomy Package</h1>
        <p>Anatomy of brain circuits<br>at cellular scale</p>
    </div>
</div>
