<header class="site-header">
    <div class="header-content">
        <div class="logo-container">
            <img src="{{ '/assets/images/package_logo.svg' | relative_url }}" alt="Anatomy Package Logo" class="site-logo">
            <!-- <span class="site-title">Anatomy Package</span> -->
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/pages/papers' | relative_url }}" {% if page.url == '/pages/mouse/' %}class="active"{% endif %}>Papers</a></li>
                <li><a href="{{ '/pages/data' | relative_url }}" {% if page.url == '/pages/mouse/' %}class="active"{% endif %}>Data Links</a></li>
                <li><a href="{{ '/pages/tools_code' | relative_url }}" {% if page.url == '/pages/mouse/' %}class="active"{% endif %}>Tools & Code</a></li>
                <li><a href="{{ '/pages/use_cases' | relative_url }}" {% if page.url == '/pages/mouse/' %}class="active"{% endif %}>Use cases</a></li>
                <li class="search-container">
                    <input type="search" placeholder="Search..." class="search-input">
                    <button class="search-button">🔍</button>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="hero-section">
    <div class="hero-content">
        <h1>XYZ Anatomy Package</h1>
        <p>Anatomy of brain circuits<br>at cellular scale</p>
    </div>
</div>
