<nav class="main-nav">
    <ul>
        <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
        <li><a href="{{ '/pages/mouse' | relative_url }}" {% if page.url == '/pages/mouse/' %}class="active"{% endif %}>Mouse</a></li>
        <li><a href="{{ '/pages/marmoset' | relative_url }}" {% if page.url == '/pages/marmoset/' %}class="active"{% endif %}>Marmoset</a></li>
        <li><a href="{{ '/pages/human' | relative_url }}" {% if page.url == '/pages/human/' %}class="active"{% endif %}>Human</a></li>
    </ul>
</nav>
