{{ define "main" }}
{{ if .Params.featured_image }}
  <section style="
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('{{ .Params.featured_image | absURL }}');
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 2rem;">
    <div>
      <h1 style="font-size: 3rem; margin: 0;">BICCN Anatomy Package</h1>
      <p style="font-size: 1.5rem; margin-top: 0.5rem;">Anatomy of brain circuits at cellular scale</p>
    </div>
  </section>
{{ end }}


  <main style="width: 100%; padding: 0 3rem; box-sizing: border-box;">
    {{ .Content }}
  </main>
{{ end }}
